@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap");

* {
	font-family: "IBM Plex Serif", serif;
	padding: 0%;
	margin: 0%;
}

.full {
	width: 100%;
}

nav {
	text-transform: uppercase;
}

nav > a {
	transition: 0.7s;
	border-bottom: 1px solid transparent;
}

nav > a:hover {
<<<<<<< HEAD
	border-bottom: 3px solid #ffa500;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px rgb(24, 21, 21);
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: linear-gradient(135deg, #0072ff, #00c6ff);
	border-radius: 10px;
	transition: 700ms ease; /* Add a transition for smoother color change */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(135deg, #0072ff 40%, #00c6ff 60%);
=======
	border-bottom: 1.5px solid #ffa500;
>>>>>>> 43e36d2cc04da881639de822699774704f385dd2
}
