@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap");

* {
	font-family: "IBM Plex Serif", serif;
	padding: 0%;
	margin: 0%;
}

.full {
	width: 100%;
}

main {
	background-repeat: no-repeat;
	background-size: cover;
}

div > .border-0 {
	transition: 0.5s;
	border-radius: 20px;
	background-color: white;
	color: #000;
}

div > .border-0:hover {
	border-radius: 10px;
	background-color: black;
	color: #fff;
	-ms-transform: scale(1.1);
	/* IE 9 */
	-webkit-transform: scale(1.1);
	/* Safari 3-8 */
	transform: scale(1.1);
}

nav {
	text-transform: uppercase;
}

nav > a {
	transition: 0.7s;
	border-bottom: 1px solid transparent;
}

nav > a:hover {
	border-bottom: 1px solid black;
}

.brand_img {
	border-radius: 25px;
}

.bluur {
	border-radius: 25px;
	border: 3px solid transparent;
	transition: transform 0.6s;
}

.bluur:hover {
	border-radius: 15px;
	border: 3px solid black;
	-ms-transform: scale(1.05);
	/* IE 9 */
	-webkit-transform: scale(1.05);
	/* Safari 3-8 */
	transform: scale(1.05);
}
